#welcome-container {
    align: center middle;
    background: $boost;
    height: 100%;
    overflow-y: auto;
}

#hero-title {
    color: $accent;
    text-style: bold;
    width: 100%;
    content-align: center middle;
    margin-top: 1;
}

#hero-subtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 2;
    color: $text-muted;
    text-style: italic;
}

.large-input {
    width: 80%;
    height: auto;
    max-height: 8;
    margin-bottom: 1;
    border: tall $primary;
}

#params-grid {
    width: 80%;
    max-width: 82;
    height: auto;
    margin-bottom: 2;
}

.param-column {
    width: 1fr;
    padding: 0 1;
    height: auto;
}

.param-label {
    width: 100%;
    text-align: center;
    text-style: bold;
    color: $accent;
    margin-bottom: 1;
}

.small-input {
    width: 100%;
    margin-bottom: 1;
    border: tall $primary-darken-1;
}

Button {
    width: 40;
    margin-top: 1;
    margin-bottom: 2;
    text-style: bold;
}

#game-text {
    margin-bottom: 2;
    text-align: center;
}